body {
    font-family: Arial, sans-serif;
    background-color: #891f7e; /* Rosa background */
}

h1 {
    text-align: center;
    color: #ffafd7; /* Love theme color */
}
h2 {
    text-align: center;
    color: #ffafd7; /* Love theme color */
}
h3 {
    text-align: left;
    color: #ffafd7; /* Love theme color */
}
p {
    text-align: left;
    color: #ffafd7; /* Love theme color */
}

.question {
    margin-bottom: 20px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
}

.answer-label {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.answer-field {
    background-color: #fe88fe; /* Light rosa */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff36ff; /* Love theme color */
    transition: background-color 0.3s ease;
}

.answer-label:hover .answer-field {
    background-color: #a53fa5; /* Darker rosa on hover */
}

input[type="radio"]:checked + .answer-field {
    background-color: #ff36ff; /* Highlight color when selected */
}
button[type="submit"] {
    background: linear-gradient(45deg, #2801ab 0%, #7b0cb2 100%);
    color: #ffafd7;
    font: bold;
    border-radius: 5px;
    border: 5px solid #ff36ff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    overflow: hidden;
}

button[type="submit"]:hover {
    background: linear-gradient(45deg, #ff36ff 0%, #fe88fe 100%);
}

.special-button {
    background-color: #f0f0f0; /* Adjust background color */
    color: #333; /* Adjust text color */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add border radius */
    padding: 10px 20px; /* Add padding */
}